.form-widget {
    display: flex;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 43, 226, 0.24);
    border-style: outset;
    border-color:rgb(65, 65, 65);
    border-radius: 5px;
    box-shadow: 5px 8px 2px 0 rgba(9, 9, 9, 0.23);
}

.form-widget div {
    margin: 5px 5px 0 25px;
    align-self: start;
    width: 200px;
}